In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
headers_data = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", type(headers_data))

headers
 <class 'list'>

In [14]:
file_path = "C:/Users/aumpa/Documents/ML/batwebs/bowling.csv"
df = pd.read_csv(file_path, names=headers_data)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,MatchID,InningsNo,Team,PlayerName,Overs,Maidens,Runs,Wickets,Wides,NoBalls,...,Threes,Fours,Sixes,StrikeRate,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,KKR,Umesh Yadav,4.0,0,20,2,2,1,...,0,1,1,12.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,KKR,Shivam Mavi,4.0,0,35,0,1,1,...,0,3,2,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,KKR,Varun Chakaravarthy,4.0,0,23,1,1,0,...,0,1,1,24.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,KKR,Sunil Narine,4.0,0,15,0,0,0,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.dtypes

symboling             object
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base            object
length                object
width                 object
height                object
curb-weight           object
engine-type           object
num-of-cylinders      object
engine-size           object
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg             float64
highway-mpg          float64
price                float64
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858 entries, 0 to 857
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          858 non-null    object
 1   normalized-losses  858 non-null    object
 2   make               858 non-null    object
 3   fuel-type          858 non-null    object
 4   aspiration         858 non-null    object
 5   num-of-doors       858 non-null    object
 6   body-style         858 non-null    object
 7   drive-wheels       858 non-null    object
 8   engine-location    858 non-null    object
 9   wheel-base         858 non-null    object
 10  length             858 non-null    object
 11  width              858 non-null    object
 12  height             858 non-null    object
 13  curb-weight        858 non-null    object
 14  engine-type        858 non-null    object
 15  num-of-cylinders   858 non-null    object
 16  engine-size        858 non-null    object
 17  fuel-system        858 non-null    object
 18  bore               858 non-null    object
 19  stroke             858 non-null    object
 20  compression-ratio  0 non-null      float64
 21  horsepower         0 non-null      float64
 22  peak-rpm           0 non-null      float64
 23  city-mpg           0 non-null      float64
 24  highway-mpg        0 non-null      float64
 25  price              0 non-null      float64
dtypes: float64(6), object(20)
memory usage: 174.4+ KB

In [17]:
df.replace("?", np.nan, inplace = True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,MatchID,InningsNo,Team,PlayerName,Overs,Maidens,Runs,Wickets,Wides,NoBalls,...,Threes,Fours,Sixes,StrikeRate,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,KKR,Umesh Yadav,4.0,0,20,2,2,1,...,0,1,1,12.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,KKR,Shivam Mavi,4.0,0,35,0,1,1,...,0,3,2,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,KKR,Varun Chakaravarthy,4.0,0,23,1,1,0,...,0,1,1,24.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,KKR,Sunil Narine,4.0,0,15,0,0,0,...,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
missing_data = df.isnull()
missing_data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
854,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
855,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
856,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
857,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True

In [19]:
for column in headers_data:
  print(column)
  print(missing_data[column].value_counts())
  print(" ")

symboling
symboling
False    858
Name: count, dtype: int64

normalized-losses
normalized-losses
False    858
Name: count, dtype: int64

make
make
False    858
Name: count, dtype: int64

fuel-type
fuel-type
False    858
Name: count, dtype: int64

aspiration
aspiration
False    858
Name: count, dtype: int64

num-of-doors
num-of-doors
False    858
Name: count, dtype: int64

body-style
body-style
False    858
Name: count, dtype: int64

drive-wheels
drive-wheels
False    858
Name: count, dtype: int64

engine-location
engine-location
False    858
Name: count, dtype: int64

wheel-base
wheel-base
False    858
Name: count, dtype: int64

length
length
False    858
Name: count, dtype: int64

width
width
False    858
Name: count, dtype: int64

height
height
False    858
Name: count, dtype: int64

curb-weight
curb-weight
False    858
Name: count, dtype: int64

engine-type
engine-type
False    858
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    858
Name: count, dtype: int64

engine-size
engine-size
False    858
Name: count, dtype: int64

fuel-system
fuel-system
False    858
Name: count, dtype: int64

bore
bore
False    858
Name: count, dtype: int64

stroke
stroke
False    858
Name: count, dtype: int64

compression-ratio
compression-ratio
True    858
Name: count, dtype: int64

horsepower
horsepower
True    858
Name: count, dtype: int64

peak-rpm
peak-rpm
True    858
Name: count, dtype: int64

city-mpg
city-mpg
True    858
Name: count, dtype: int64

highway-mpg
highway-mpg
True    858
Name: count, dtype: int64

price
price
True    858
Name: count, dtype: int64

In [23]:
# Handling missing values: Imputation or removal
# Example: Impute missing numeric values with mean, and categorical values with mode
numeric_cols = df.select_dtypes(include=np.number).columns.tolist()
categorical_cols = df.select_dtypes(exclude=np.number).columns.tolist()

In [24]:
# Impute missing numeric values with mean
for col in numeric_cols:
    df[col] = df[col].astype(float)
    df[col].fillna(df[col].mean(), inplace=True)

In [25]:
# Impute missing categorical values with mode
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [26]:
# Convert numeric columns to appropriate data types if needed
numeric_cols_except_price = [col for col in numeric_cols if col != 'price']
df[numeric_cols_except_price] = df[numeric_cols_except_price].astype(float)

In [27]:
print("\nPreprocessed DataFrame:\n", df.head())

Preprocessed DataFrame:
   symboling normalized-losses  make            fuel-type aspiration  \
0   MatchID         InningsNo  Team           PlayerName      Overs
1         1                 1   KKR          Umesh Yadav        4.0
2         1                 1   KKR          Shivam Mavi        4.0
3         1                 1   KKR  Varun Chakaravarthy        4.0
4         1                 1   KKR         Sunil Narine        4.0

  num-of-doors body-style drive-wheels engine-location wheel-base  ...  \
0      Maidens       Runs      Wickets           Wides    NoBalls  ...
1            0         20            2               2          1  ...
2            0         35            0               1          1  ...
3            0         23            1               1          0  ...
4            0         15            0               0          0  ...

  engine-size fuel-system   bore      stroke compression-ratio horsepower  \
0      Threes       Fours  Sixes  StrikeRate               NaN        NaN
1           0           1      1        12.0               NaN        NaN
2           0           3      2         0.0               NaN        NaN
3           0           1      1        24.0               NaN        NaN
4           0           0      0         0.0               NaN        NaN

  peak-rpm city-mpg highway-mpg price
0      NaN      NaN         NaN   NaN
1      NaN      NaN         NaN   NaN
2      NaN      NaN         NaN   NaN
3      NaN      NaN         NaN   NaN
4      NaN      NaN         NaN   NaN

[5 rows x 26 columns]